*{
    margin: 0;
    padding: 0;

}

.pagina1{
    height: 100vh;
}

nav{
    /* height: 10vh; */
    min-height: 10vh;
}

.conteudoPagina1{

    height: 90vh;
    
    
}

.pagina1Col1{
    background-color: white!important;
}